-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "SavedScheme" (
    "id" TEXT NOT NULL,
    "userEmail" TEXT,
    "sessionId" TEXT,
    "schemeId" TEXT NOT NULL,
    "schemeName" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "notes" TEXT,
    "appliedAt" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'saved',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SavedScheme_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SchemeApplication" (
    "id" TEXT NOT NULL,
    "userEmail" TEXT,
    "sessionId" TEXT,
    "schemeId" TEXT NOT NULL,
    "schemeName" TEXT NOT NULL,
    "applicationId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "documents" TEXT[],
    "notes" TEXT,
    "submittedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SchemeApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserProfile" (
    "id" TEXT NOT NULL,
    "email" TEXT,
    "sessionId" TEXT,
    "businessName" TEXT,
    "state" TEXT,
    "category" TEXT,
    "businessStage" TEXT,
    "employeeCount" INTEGER,
    "annualRevenue" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserProfile_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "SavedScheme_schemeId_idx" ON "SavedScheme"("schemeId");

-- CreateIndex
CREATE INDEX "SavedScheme_sessionId_idx" ON "SavedScheme"("sessionId");

-- CreateIndex
CREATE INDEX "SavedScheme_userEmail_idx" ON "SavedScheme"("userEmail");

-- CreateIndex
CREATE INDEX "SchemeApplication_sessionId_idx" ON "SchemeApplication"("sessionId");

-- CreateIndex
CREATE INDEX "SchemeApplication_userEmail_idx" ON "SchemeApplication"("userEmail");

-- CreateIndex
CREATE UNIQUE INDEX "UserProfile_email_key" ON "UserProfile"("email");

-- CreateIndex
CREATE UNIQUE INDEX "UserProfile_sessionId_key" ON "UserProfile"("sessionId");

